//inicio estilos pag contacto
#contacto{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    //estilo a video
    video{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
    //estilo a form de contacto
    form{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        padding: 30px;
        width: 50%;
        height: 100vh;
        .contact-title{
            font-size: 30px;
            font-weight: 600;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 30px;
            text-transform: uppercase;
            color: whitesmoke;
        }
        .label{
            font-size: 18px;
            font-weight: 600;
            color: whitesmoke;
        }
        .input{
            height: 30px;
            outline: none;
            padding: 5px 0;
            border-bottom: 2px solid #c3cf0a;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 100%;
            color: whitesmoke;
            background-color: transparent;
        } 
        .textarea{
            height: 100px;
            outline: none;
            padding: 5px 0;
            border-bottom: 2px solid #c3cf0a;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 100%;
            color: whitesmoke;
            background-color: transparent;
            resize: none;
        }
        //estilo a boton de enviar
        .boton{
            padding: 18px 55px;
            background-color: #b0d390;
            border-radius: 50px;
            color: #1d1d1d;
            font-weight: 600;
            border: none;
            font-size: 18px;
            cursor: pointer;
            &:hover{
                background-color: #c3cf0a;
                color: #fff;
            }
        }
        p{
            color: whitesmoke;
            padding: 0px 15px;
            font-size: 20px;
            font-weight: 600;
            a{
                display: inline-block;
                text-decoration: none;
                padding: 15px;
                font-size: 25px;
                color: #c3cf0a;
                margin-right: 10px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(150%)
                }
            }
        }
    }
}
//fin estilos pag contacto