//inicio estilos sección Quiénes Somos

#quienesSomos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../img/hoja.jpg);
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: cover;
    h2{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        padding: 1rem;
        color: whitesmoke;
    }
    .nosotras{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        .card{
            margin: 1rem;
            background-color: #cce0a8;
            .card-text{
                text-align: center;
                font-weight: 500;
            }
            p{
                color: #1d1d1d;
            }
        }
    }
    .seguimos{
        color: #1d1d1d;
        font-size: 19px;
        font-weight: 600;
        text-align: center;
        padding: 1rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 80%;
        height: auto;
        background-color: #b0d390;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10%
    }
}
