//inicio estilo pag servicios
#servicios{
    background-color: #b0d390;
    div{
        background-color: rgba(0, 0, 0, 0.3);
        h2{
            text-align: center;
            font-size: 45px;
            padding: 0.8rem;
            color: #1d1d1d;
            font-weight: 700;
            text-transform: capitalize;
        }
        p{
            font-size: 18px;
            text-align: center;
            padding: 1rem;
            color: #1d1d1d;
            font-weight: 500;
        }
    }
    .itemsServicios{
        height: auto;
        width: auto;
        max-width: 100%; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 15px;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"; 
        .card{
            border-radius: 5px;
            margin: auto;
            filter: grayscale(85%);
            transition: all 0.7s;
            &:hover{
                transform: scale(1.10) ;
                filter: grayscale(0%);
                transition: all 0.7s;
            }
            .card-body{
                text-align: center;
                h3{
                    font-size: 25px;
                    color: whitesmoke;
                    text-transform: capitalize;
                }
                .card-text{
                    list-style: none;
                    padding: 0%;
                    li{
                        font-size: 0.9rem;
                        color: whitesmoke;
                        padding: 5px 0px;
                        &:not(:last-child){
                        border-bottom: 1px solid yellow;
                        }
                    }
                }
            }
        }
        .item1{
            grid-area: item1;
        }
        .item2{
            grid-area: item2;
        }
        .item3{
            grid-area: item3;
        }
        .item4{
            grid-area: item4;
        }
        .item5{
            grid-area: item5;
        }
        .item6{
            grid-area: item6;
        }
    } 
}
//fin estilo pag servicios