
body{
    margin: 0;
    border: 0;
    header{
        background-color: whitesmoke;
        width: 100%;
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            border-radius: 20px;
            height: 40vh;
        }
        div{
            width: 90%;
            background-color: #a7a8A0;
            border-radius: 10px;
            margin: 10px;
            .nav{
                .nav-item{
                    padding: 8px;
                    a{
                        text-align: center;
                        align-content: flex-start;
                        transition: all 500ms ease;
                        border-bottom: 2px solid transparent;
                        font-size: 20px;
                        color: #1D1D1D;
                        &:hover{
                            color: rgb(81, 116, 29);
                            border-bottom: 2px solid #CCE0A8;
                            transform: scale(120%);
                        }
                    }
                }
            }
        }
    }
}

@import "_footer";
@import "_mediaQueries";
@import "_inicio";
@import "_quienesSomos";
@import "_servicios";