@import "_variablesColor";


body{
    margin: 0;
    border: 0;
    header{
        background-color: whitesmoke;
        width: 100%;
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            border-radius: 20px;
            height: 40vh;
        }
        div{
            width: 100%;
            background-color: #cce0a8

        }
    }
}

/* .navbar{
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    .navbar-nav{
        align-items: baseline;
        li{
            padding-left: 30px;
            a{
                text-align: center;
                align-content: flex-start;
                transition: all 500ms ease;
                border-bottom: 2px solid transparent;
                font-size: 20px;
                &:hover{
                    color: $color5;
                    border-bottom: 2px solid $color4;
                    transform: scale(120%);
                }
            }
        }
    }
}
} */


@import "_footer";
@import "_mediaQueries";
