
body{
    margin: 0;
    border: 0;
    #inicio{
        background-color: whitesmoke;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            border-radius: 20px;
            height: 40vh;
        }
        div{
            width: 90%;
            ul{
                list-style-type: none;
                background-color: #303331;
                overflow: hidden;
                padding: 10px;
                margin: 0px;
                border-radius: 10px;
                .active {
                    background-color: #308e36;
                    display: block;
                    padding: 14px 16px;
                    border-radius: 8px;
                    text-decoration: none;
                    text-align: center;
                    font-size: 20px;
                    color: whitesmoke;
                }
                li {
                    float:inline-end;
                    a {
                        display: block;
                        background-color: #303331;
                        padding: 14px 16px;
                        text-decoration: none;
                        text-align: center;
                        transition: all 500ms ease;
                        border-bottom: 2px solid transparent;
                        font-size: 20px;
                        color: whitesmoke;
                        &:hover:not(.active){
                            border-bottom: 2px solid #CCE0A8;
                            transform: scale(120%);
                        }
                    }
                }
            }
        }
    }

    /* #inicio{

   
        div{
            .nav{
                .nav-item{
                    padding: 8px;
                    a{
                        text-align: center;
                        align-content: flex-start;
                        transition: all 500ms ease;
                        border-bottom: 2px solid transparent;
                        font-size: 20px;
                        color: #1D1D1D;
                        &:hover{
                            color: rgb(81, 116, 29);
                            border-bottom: 2px solid #CCE0A8;
                            transform: scale(120%);
                        }
                    }
                }
            }
        }
    } */
}


@import "_footer";
@import "_inicio";
@import "_quienesSomos";
@import "_servicios";
@import "_mediaQueries";
