body {
  margin: 0;
  border: 0;
}
body header {
  background-color: whitesmoke;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header img {
  border-radius: 20px;
  height: 40vh;
}
body header div {
  width: 90%;
  background-color: #a7a8A0;
  border-radius: 10px;
  margin: 10px;
}
body header div .nav .nav-item {
  padding: 8px;
}
body header div .nav .nav-item a {
  text-align: center;
  align-content: flex-start;
  transition: all 500ms ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
  color: #1D1D1D;
}
body header div .nav .nav-item a:hover {
  color: rgb(81, 116, 29);
  border-bottom: 2px solid #CCE0A8;
  transform: scale(120%);
}

.footer {
  width: 100%;
  background-color: #333;
}
.footer .grupo1 {
  width: 90%;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 35px;
  padding: 50px 0px;
}
.footer .grupo1 .box {
  text-align: center;
}
.footer .grupo1 .box iframe {
  width: 250px;
  height: 150px;
}
.footer .grupo1 .box p {
  color: #efefef;
  padding: 10px;
  text-align: center;
}
.footer .grupo1 .box h4 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
}
.footer .grupo1 .box ul {
  list-style: none;
  color: #efefef;
}
.footer .grupo1 .box ul li {
  text-align: left;
}
.footer .grupo1 .box ul a {
  color: #e7eee8;
}
.footer .grupo1 .box ul a:hover {
  color: #6fb98f;
  text-transform: uppercase;
  text-decoration: none;
}
.footer .grupo1 .box .redes {
  text-align: center;
}
.footer .grupo1 .box .redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 45px;
  color: #fff;
  margin-right: 10px;
  transition: all 300ms ease;
}
.footer .grupo1 .box .redes a:hover {
  color: #c3cf0a;
  transform: scale(150%);
}
.footer .grupo2 {
  background-color: #555;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .grupo2 small {
  font-size: 15px;
}

#principal {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}
#principal h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  color: #b0d390;
}
#principal h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  color: #a7a8a0;
}
#principal p {
  font-size: 18px;
  text-align: center;
  padding: 1.5rem;
  color: #1d1d1d;
  font-weight: 500;
  margin: 0px;
}

#quienesSomos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../img/hoja.jpg);
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: cover;
}
#quienesSomos h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  color: whitesmoke;
}
#quienesSomos .nosotras {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
#quienesSomos .nosotras .card {
  margin: 1rem;
  background-color: #cce0a8;
}
#quienesSomos .nosotras .card .card-text {
  text-align: center;
  font-weight: 500;
}
#quienesSomos .nosotras .card p {
  color: #1d1d1d;
}
#quienesSomos .seguimos {
  color: #1d1d1d;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 80%;
  height: auto;
  background-color: #b0d390;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

#servicios {
  background-color: #b0d390;
}
#servicios div {
  background-color: rgba(0, 0, 0, 0.3);
}
#servicios div h2 {
  text-align: center;
  font-size: 45px;
  padding: 0.8rem;
  color: #1d1d1d;
  font-weight: 700;
  text-transform: capitalize;
}
#servicios div p {
  font-size: 18px;
  text-align: center;
  padding: 1rem;
  color: #1d1d1d;
  font-weight: 500;
}
#servicios .itemsServicios {
  height: auto;
  width: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 15px;
  grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
}
#servicios .itemsServicios .card {
  border-radius: 5px;
  margin: auto;
  filter: grayscale(85%);
  transition: all 0.7s;
}
#servicios .itemsServicios .card:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: all 0.7s;
}
#servicios .itemsServicios .card .card-body {
  text-align: center;
}
#servicios .itemsServicios .card .card-body h3 {
  font-size: 25px;
  color: whitesmoke;
  text-transform: capitalize;
}
#servicios .itemsServicios .card .card-body .card-text {
  list-style: none;
  padding: 0%;
}
#servicios .itemsServicios .card .card-body .card-text li {
  font-size: 0.9rem;
  color: whitesmoke;
  padding: 5px 0px;
}
#servicios .itemsServicios .card .card-body .card-text li:not(:last-child) {
  border-bottom: 1px solid yellow;
}
#servicios .itemsServicios .item1 {
  grid-area: item1;
}
#servicios .itemsServicios .item2 {
  grid-area: item2;
}
#servicios .itemsServicios .item3 {
  grid-area: item3;
}
#servicios .itemsServicios .item4 {
  grid-area: item4;
}
#servicios .itemsServicios .item5 {
  grid-area: item5;
}
#servicios .itemsServicios .item6 {
  grid-area: item6;
}

/* 

/* @media only screen and (min-width: 450px) and (max-width:599px) {
    //inicio mq header
    header{
        .titulo{
            display: flex;
            flex-direction: row;
            justify-items: center;
            justify-content: space-between;
        }
    } */
/*     #contacto{
        form{
            width: 70%;
        }
    } */
/* } */
/*   @media only screen and (min-width: 600px) and (max-width:767px) {
       //inicio mq header
       header{
           .titulo{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
           }
       }
       //fin mq header

       //inicio mq pag contacto
       #contacto{
           form{
               width: 60%;
               .contact-title{
                   font-size: 40px;
                   margin-bottom: 40px;
               }
           }
       }
       //fin mq pag contacto
   //fin mq min 600px max 767px  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #quienesSomos div h2 {
    font-size: 40px;
  }
  #quienesSomos .nosotras {
    display: flex;
    flex-direction: row;
  }
  #servicios .itemsServicios {
    padding: 0rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
  }
}
/* //inicio mq min 768px max 1023px 

@media only screen and (min-width: 768px) and (max-width: 1023px){
    //inicio mq header
    header{
        .titulo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1{
                font-size: 50px;
            }
        }
    } */
/*   //inicio mq pag contacto
    #contacto{
        form{
            width: 50%;
            .contact-title{
                font-size: 50px;
                margin-bottom: 50px;
            }
        }
    }
    //fin mq pag contacto

}
//fin mq min 768px max 1023px 

// inicio mq min 1024px */
@media only screen and (min-width: 1024px) {
  .footer .grupo1 {
    max-width: 1400px;
    grid-template-columns: repeat(4, 1fr);
  }
  #quienesSomos div h2 {
    font-size: 50px;
  }
  #quienesSomos .nosotras {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #servicios .itemsServicios {
    padding: 1rem 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  }
}
/* @media only screen and (min-width: 1024px) {
    //inicio mq header
    header{
        .titulo{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 2rem;
            h1{
                font-size: 60px;
                text-align: center;
                display: flex;
                align-items: baseline;
                padding-right: 50px;
            }
        }
    }
    //fin mq header

    //inicio mq pag contacto
    #contacto{
        form{
            width: 50%;
            .contact-title{
                font-size: 50px;
                margin-bottom: 50px;
            }
        }
    }
    //fin mq pag contacto

    //inicio mq pag contacto
    form{
        line-height: 30px; 
        padding: 20px;
        font-size: 22px;
    } 
    //fin mq pag contacto

} 
// fin mq min 1024px 
// fin estilo media queries *//*# sourceMappingURL=estilos.css.map */